<% provide(:title, 'About Us') %>

<address>
  <strong>Suns Up Solar.</strong><br>
  224 Dufour Street<br>
  Santa Cruz, CA 95060<br>
  Phone: (831) 458-0203<br>
  Email: info@sunsupsolar.com
</address>

<h3>SUNS UP SOLAR</h3> <p>is based in Santa Cruz, California. We are a division of Putt Construction which has been doing business on the Central Coast since 1987 as General and Electrical Contractors. 

<p>We work in the residential, commercial, industrial and municipal sectors and have many satisfied and repeat clients. Most of our work comes in as referrals.</p> 

<p>We are trained, qualified and licensed Solar System Designers, Installers and Integrators and are capable of providing Solar Electric - Grid Tied, Stand Alone and Hybrid Systems of any size, Solar Thermal systems for Hot Water, Radiant Heating, Pools and Spas.</p> 

<p>No job is too big or too small.  We work on a range of projects from the smallest water pumping needs to large commercial megawatt systems.</p>

<p>We are an approved installer for Sun Power & Schuco Solar Electric and solar Thermal systems. Schuco are one of the oldest manufacturers of solar panels. Our customers are guaranteed dependable solar technologies and solar performance.</p>

<div class="row">
  <h3>Peter Putt - Integration</h3> 

  <%= image_tag("pete.jpg", alt: "Photo of Peter Putt", id: "pete") %>
  <p>Peter has been doing business in the Central Coast area since 1978. He holds both General and Electrical contractors licenses and believes that customer service is the key to success. He has completed extensive training in solar technology as well as formal training to mitigate power quality issues ranging from harmonics mitigation to dealing with intermittent power issues for a range of clientele. He has been very active in working with the youth within our community, from coaching soccer for over 12 years to being an active member in the Elks Lodge.</p>
</div>

<div class="row">
  <h3>Tony Perkins – Sales</h3>

  <%= image_tag("tony.jpg", alt: "Photo of Tony Perkins", id: "tony") %>
  <p>Tony for the last 25 years has successfully been in business in Santa Cruz. Tony is a fourth generation Santa Cruz native.  He has been coaching softball teams for the last 15 years. Tony is currently an active member of the Santa Cruz Host Lions and is also a past president of the Capitola Host Lions club. Tony has completed training in the field of Solar Energy and he resides in Santa Cruz with his wife and three daughters.</p> 
</div>
