<% provide(:title, 'Commercial') %>

<p>Most commercial customers are aware of solar electric (PV) and the benefits this technology can deliver. Solar Thermal is now also a great way for a business to reduce its overhead costs.</p>

<p>SUNS UP SOLAR deliver Solar PV and Solar Thermal solutions to their customers. </p>

<p>WE can also arrange financing and PPA's via our financial partners so please call us if you wish to discuss your facilities potential for going solar.</p>

<p>SUNS UP SOLAR provide 'Turn Key' solar solutions for their commercial customers. As part of a General & Electrical Contractor we can ensure that all the associated building and services integration elements of your solar project are carried out by qualified 'in house' employees. Unlike many companies in this market we DO NOT subcontract work to others.</p>

<p>Please follow the links above to your particular interest.</p>

<p> Additional text ideas?</p>

  <ul>
    <li>Tax breaks</li>
    <li>Saving money example</li>
    <li>project images</li>
    <li>what its like to live with solar</li>
    <li>the process from contacting you to completion with timelines.</li>
    <li>how the installation can (or hopefully doesn't) interrupt the business</li>
    <li>a few testimonials</li>
  </ul>

