<% provide(:title, 'Go Green') %>

<img src="/assets/go_green.jpg" alt="image" class="img-circle" id="save_image">
<h2>Go Green</h2>

<p>This needs to be filled with envronmental benefits of solar.  The following text came from Solar City's site and needs to be changed</p>

<p>Solar power systems derive clean, pure energy from the sun. When you install solar, you help to combat greenhouse gas emissions and global warming and reduce our collective dependence on fossil fuel.</p>

<h3>Power Your Home with Renewable Energy</h3>

<p>Traditional electricity is sourced from fossil fuels such as coal and natural gas. When fossil fuels are burned to create energy, they emit toxic gases that are the primary cause of pollution and global warming.</p>

<p>Not only are fossil fuels bad for the environment, they are also a finite resource—their limited availability creates a volatile market in which energy prices can skyrocket in a short period of time.</p>

<h3>Environmental Impact</h3>

A solar system for a typical 3-Bedroom home will offset 100,000 lbs of carbon dioxide over 20 years, saving the equivalent of...

<ul>
  <li>Driving a car 100,000 miles</li>
  <li>C02 absorbed by 50 trees</li>
  <li>30,000 gallons of water used in electricity</li>
</ul>
