<div class="slideshow">
  <div class="jumbotron" id="jumbotron1">
    <div class="container">
      <h1>Energy independence.... for less.</h1>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron2">
    <div class="container">
      <h1>Energy independence.... for less.</h1>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron3">
    <div class="container">
      <h1>Energy independence.... for less.</h1>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron4">
    <div class="container">
      <h1>Energy independence.... for less.</h1>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>

  <div class="jumbotron" id="jumbotron5">
    <div class="container">
      <h1>Energy independence.... for less.</h1>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3 boxes">
    <img src="/assets/home-circle-decisions.png" alt="image">
    <h3>Save Money</h3>
    <p>Lower your energy costs with solar electrical and hot water systems</p>
  </div>
    <div class="col-xs-3 boxes">
    <img src="/assets/home-circle-engage.png" alt="image">
    <h3>Go Green</h3>
    <p>Take responsibility for doing your part to lower carbon emissions.</p>
  </div>
    <div class="col-xs-3 boxes">
    <img src="/assets/home-circle-engage2.png" alt="image">
    <h3>Energy Independance</h3>
    <p>Live off the grid, or simply help save lives overseas.</p>
  </div>
    <div class="col-xs-3 boxes">
    <img src="/assets/home-circle-optimize.png" alt="image">
    <h3>Low Maintenance</h3>
    <p>Quiet, dependable and reliable systems</p>
  </div>
</div>
