<% provide(:title, 'Energy Independence') %>

<%= image_tag("energy_independence.jpg", alt: "Energy Independence Logo", class: "img-circle", id: "independence_image") %>

<h2>Energy Independence</h2>
<p>This is from real goods solar and will need to be re-written. Some of the points at th bottom are mine.</p>

<p>Solar power is a very real, accessible path toward energy independence in the United States. While the U.S. continues to consume more energy than it produces, the deficit is falling, and with more and more renewable energy being added to the grid at home, our energy portfolio is becoming cleaner and more sustainable.</p>

<h3>Why Do We Care About Energy Independence?</h3>

<p>American energy independence (the point at which domestic production eliminates the need to import foreign energy sources) is desirable for several reasons. It would:</p>

<ul>
  <li>Improve the stability of Americans’ energy costs</li>
  <li>Free up Dollars spent overseas for US consumption which will create jobs</li>
  <li>Increase the sustainability of our energy portfolio</li>
  <li>Allow foreign and economic policies to streamline and focus on topical issues without jeopardizing necessary energy pipelines</li>
  <li>Help keep the US out of foreign conflicts which will save lives and help reduce the need for a large military budget</li>
</ul>

<p>By taking action to responsibly generate electricity on your own property with solar panels, you are increasing American energy independence with solar power and shielding yourself from unexpected problems and price fluctuations along the way.</p>

<h3>Off Grid</h3>
<p>The extreme end of independence are systems for off grid living.</p>