<% provide(:title, 'Residential') %>

<p> much of this text in the original site is the same text as the home page.  I suggest coming up with content that speaks directly to home owner.</p>

  <ul>
    <li>Tax breaks</li>
    <li>Saving money example</li>
    <li>project images</li>
    <li>what its like to live with solar</li>
    <li>the process from contacting you to completion with timelines.</li>
    <li>a few testimonials</li>
  </ul>