<% provide(:title, 'Save Money') %>

<img src="/assets/save_money.jpg" alt="image" class="img-circle" id="save_image">
<h2>Save Money</h2>
<p>If you think about how much your electricity bill is each month (typically between $250- $350 for most California residents) and work out how much you are going to spend on electricity over the next twenty five years, it's a lot of money!!!</p>

<p>With a typical residential solar electric installation costing YOU less than $25,000* it doesn't take a genius to realize that Solar is guaranteed to save you money. Of course, this doesn't take into account electricity price rises, tariff hikes. With an ROI (Return on Investment) as high as 24% your system can pay for itself in less than 5 years!!
*This will vary and depend on your usage, location and personal circumstances.</p>
                 
                 <iframe id="youtube" width="640" height="360" src="http://www.youtube.com/embed/YsImJM6NIkY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>

                                     Commercial Financing 

<h3>Rebates</h3>
<p>The cost of your solar system will attract a rebate from the California Solar Initiative via PG&E which today approximates 15%. Additional to this rebate you will be able to offset up to 30% of the cost of your installation (excluding PG&E rebate) as a dollar for dollar Federal tax credit. These rebates and credits can amount to 40% reduction in the cost of your installation.</p>

<h3>Financing</h3>
<p>We are able to arrange, via our partners, up to 100% of the required financing for your installation, should you require. Please contact us directly and we can arrange for our partners to contact you. You can also contact us regarding local solar financing and leasing solutions for your installation.
Lease options available from 0% down - contact us for details</p>


<h3>Benefits</h3>
<p>Energy Independence will be yours. Your solar system will start paying for itself the moment your system is installed, harnessing the power of the sun. </p>

<p>Free yourself from future rate rises and tier hikes.</p>
 
<p>Going solar will save you money and reduce your carbon footprint / CO2 emissions.</p>

<p>All you have to do is ACT NOW - we provide you with a FREE site analysis which will include your system specification & cost, rebates you will receive and any financing options you may require. We will indicate your likely return on investment and green data. We will also advise as to other energy saving options for your home and the rebates associated with these improvements.</p>

<h3>Benefits of going solar</h3>

<p>In addition to the great rebates available. the benefits you will have with your own solar power plant are primarily:</p>

<p>Financial - you will produce your own power or hot water so you will be protected from the ever increasing cost of energy. Recent PG&E price rise of 5.47% contributes to a 33% rise in electrical prices since 1994 and 140% increase in tier 5 prices!! Net metering will also allow you to sell your excess power back to PG&E.</p>

<p>A system installed by SUNS UP SOLAR will be Property Tax Exempt so you will not be liable for any property tax increases on your home when you install solar.</p>

<p>Increase the value of your home. This increase is not the cost of your system but is related to your reduced monthly bills and energy efficiency of your home.</p>
 
<p>Reducing C02 emissions and the environment. Whatever your viewpoint on global warming reducing the pollution and C02 emissions associated with power production has to be the right direction for California and the World.</p>

<p>Especially when you consider that coal fired power stations are less than 19% efficient and use huge quantities of our water resource in the process !!</p>