<% provide(:title, 'Tech') %>

<h3>Telling you like it is</h3>

<p>Cutting through the misinformation, combined with the confusing rhetoric of your utility supplier leaves most people confused and perplexed.</p>

<p>Suns Up Solar tells it as it is - Just contact us with any questions or issues you may have about solar.</p>

<p>Not sure you understand 'solar jargon'? this link will explain all those words you here when people talk about solar.</p>

<h3>Electric, Heat, Grid Tied, Off-Grid</h3>

<p>Most people considering Solar today think of PV (Photovoltaic) electric systems. These installations convert sunlight into electricity. However another option is Solar Thermal where sunlight is used to heat water.</p>

<p>Typically a solar system will be 'Grid Tied' i.e. connected to PG&E supply. Off grid systems are available too.</p>

<h3>Solar Electric</h3>   

<p>Simply solar electric or PV (photovoltaic) modules convert sunlight to electricity. The PV modules generate DC electricity (DC) - sending it to the inverter. The inverter transforms the DC power into AC electricity for ordinary household needs. Your existing electrical panel distributes solar electricity and utility power to appliances etc.<p> 

<p>For a beautifully presented interactive demo of how solar hot water and solar electrial systems work (compliments of Shuco solar products) Click on <a href="http://www.schueco.com/specials/solarspecial_usa/index_en_US.html" target="blank">this link</a>.</p>

<h3>Solar Hot Water</h3>

<p>Solar hot water is an age old idea and anyone who leaves their garden hose in the sun will know that the sun can heat water. Today the systems available are much more efficient and virtually maintenance free.</p>

<p>We provide and install Schuco  thermal systems for our customers. Schuco systems lead the world in reliability and design. These systems are called 'closed loop' systems that transfer the heat from the panels via a heat exchanger. The heat exchanger can be within a hot water tank or stand alone. Schuco systems are also designed to facilitate 'steamback' this is where the system is designed to allow the fluid in the solar circuit to turn to steam when the panels over heat (this is common when your hot water needs are low and the sun is shining). Many systems on the market are not good at coping with this situation resulting in replacement of the fluid every 2-3 years. Schuco systems, however, will only need this maintenance every 8-10 years.</p>

