/*bootstrap needs to be imported in a SCSS file and used site-wide which is why it is here. My custom styles are here too so that they will override the bootstraps where needed */

@import "bootstrap";

 *{
  padding: 0px;
  margin: 0px; 
 }
body{
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #FFFFFF), color-stop(1, #EFAA0A));
}
#banner{
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));
}
h1{
  font-size: 3em;
  margin-top: 2%;
  margin-bottom: 1%;
}
#logo{
  height: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 7%; 
}
#navbar{
  background-color: white;
  overflow: hidden;
}
.nav{
  margin-bottom: 0px;
}
