<!DOCTYPE html>
<html lang="en">
<head>
  <title>SunsUpSolar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find out how you can save money and pollution by installing Solar PV and and Solar Hot Water Systems. On and off grid, Northern California.">
  <meta name="keywords" content="santa cruz,solar panels, santa cruz solar,solar  installer,solar installer santa cruz,solar contractor,solar contractor santa cruz, residential solar,commercial solar,solar hot water,solar electric, photovoltaic, solar solutions, turn key,solar monterey,solar power santa cruz, solar panels scotts valley,green energy,solar financing,renewable energy,solar panel,solar,suns up solar,solar santa cruz county,solar pv santa cruz,solar pv scotts valley">
  <%= stylesheet_link_tag    "bootstrap.min.css", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- banner and nav for devices small and up -->
<nav class="navbar-fixed-top hidden-xs">
  <div class="row" id="banner">
    <div class="col-xs-10 col-md-offset-1">
      <img class="img-responsive pull-left hidden-xs" id="logo" alt="Responsive Image" src="/assets/logo_no_text.png"/>
      <h1>Suns Up Solar</h1>
    </div>
  </div>
  <div class"row" id="navbar">
    <div class="col-xs-10 col-md-offset-1">
      <ul class="nav nav-pills">
        <li class="active"> <a href="#">Home            </a></li>
        <li>                <a href="#">Solar Technology</a></li>
        <li>                <a href="#">Residential     </a></li>
        <li>                <a href="#">Commercial      </a></li>
        <li>                <a href="#">About Us        </a></li>
        <li>                <a href="#">News            </a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default visible-xs" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Suns Up solar</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li class="active"> <a href="#">Home            </a></li>
        <li>                <a href="#">Solar Technology</a></li>
        <li>                <a href="#">Residential     </a></li>
        <li>                <a href="#">Commercial      </a></li>
        <li>                <a href="#">About Us        </a></li>
        <li>                <a href="#">News            </a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<%= yield %>

</body>
</html>